{% extends 'base.html' %}

{% block title %}Logged Out - Django Auth{% endblock %}

{% block content %}
<div class="card text-center">
    <div class="card-header">
        <h2>Successfully Logged Out</h2>
    </div>
    <div class="card-body">
        <p class="lead">You have been successfully logged out of your account.</p>
        <div class="mt-4">
            <a href="{% url 'login' %}" class="btn btn-primary">Log in again</a>
            <a href="{% url 'home' %}" class="btn btn-secondary ms-2">Go to Home</a>
        </div>
    </div>
</div>
{% endblock %}